---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const { title, body, image, crime_list } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="card bg-base-100 max-w-96 shadow-sm">
    <figure>
        <img src={image} alt="Shoes" />
    </figure>

    <div class="card-body">
        <div class="collapse">
            <input type="checkbox" />

            <div class="collapse-title pl-0 font-bold">
                <span class="underline">
                    <h2 class="card-title mb-4">{title}</h2>
                </span>

                <p>
                    {body}
                </p>

                <div class="mt-3 font-light text-sm text-right underline">
                    {t("card.see_more")}
                </div>
            </div>

            <div class="collapse-content text-xs">
                <ul>
                    {
                        crime_list.map((crime) => (
                            <li class="list-disc mb-1">{crime}</li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
