---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const { title, body, image, crime_list } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="card bg-base-100 max-w-96 shadow-sm">
    <figure>
        <img src={image} alt="Shoes" />
    </figure>

    <div class="card-body">
        <h2 class="card-title">{title}</h2>

        <p class="mb-2">
            {body}
        </p>

        <hr />

        <div class="collapse">
            <input type="checkbox" />
            <div class="collapse-title pl-0 font-bold">
                <span class="underline">
                    {t("card.crime_list")}
                </span>
            </div>
            <div class="collapse-content text-xs">
                <ul>
                    {
                        crime_list.map((crime) => (
                            <li class="list-disc mb-1">{crime}</li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
