---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
    id={t("nav.about")}
    class="bg-gradient-to-b from-base-100 to-primary/50 min-h-screen hero flex place-items-center"
>
    <div class="hero-content flex-col lg:flex-row-reverse mx-auto">
        <img
            src="/raquel_crespo_posando_sentada.jpeg"
            class="my-4 max-w-xs max-h-64 md:max-h-110 rounded-lg shadow-2xl hidden md:block"
        />

        <div class="mx-10">
            <p
                class="mt-4 mb-5 mx-auto text-4xl font-semibold text-secondary/95"
            >
                {t("curriculum.title")}
            </p>
            <p class="py-4">
                <p class="text-base mb-4">
                    {t("curriculum.paragraph1")}
                </p>
                <p class="text-base mb-4">
                    {t("curriculum.paragraph2")}
                </p>
                <p class="text-base">
                    {t("curriculum.paragraph3")}
                </p>
            </p>
        </div>
    </div>
</section>
