---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
    id={t("nav.who_am_i")}
    class="hero bg-base-200 min-h-screen"
    style="background-image: url(/bodegon-con-la-balanza-de-la-justicia.jpg);"
>
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="mx-6">
            <h1 class="mb-5 text-5xl font-bold">
                <div class="text-secondary/95 mb-4">Raquel Crespo</div>
                <div class="text-xl max-w-96" set:html={t("hero.h1")} />
            </h1>
            <div class="divider divider-primary/95 max-w-80"></div>
            <div class="mb-5 max-w-md font-semibold">
                <p class="mb-3">
                    {t("hero.description1")}
                </p>
                <p>
                    {t("hero.description2")}
                </p>
            </div>
        </div>
        <img
            src="/raquel_crespo_posando_de_pie.jpeg"
            class="max-w-xs max-h-64 md:max-h-110 rounded-lg shadow-2xl"
            alt="Raquel Crespo Avogada"
        />
    </div>
</section>
