---
import Card from "./Card.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
    id={t("nav.strenghts")}
    class="bg-gradient-to-b from-primary/50 to-base-100 py-6 lg:pb-24 min-h-screen place-items-center"
>
    <div
        class="max-w-6xl grid grid-cols-1 lg:grid-cols-2 mx-auto p-4 gap-10 place-items-center"
    >
        <Card
            title={t("strengths.card1.title")}
            body={t("strengths.card1.content")}
            image="/dereito_penal.jpg"
            crime_list={t("strengths.card1.list")}
        />

        <Card
            title={t("strengths.card2.title")}
            body={t("strengths.card2.content")}
            image="/dereito_penitenciario.jpg"
            crime_list={t("strengths.card2.list")}
        />

        <Card
            title={t("strengths.card3.title")}
            body={t("strengths.card3.content")}
            image="/dereito_de_familia.jpg"
            crime_list={t("strengths.card3.list")}
        />

        <Card
            title={t("strengths.card4.title")}
            body={t("strengths.card4.content")}
            image="/dereito_administrativo.jpg"
            crime_list={t("strengths.card4.list")}
        />
    </div>
</section>
